@font-face {
    font-family: 'pirateletters';
    src: url('pirateletters-webfont.woff2') format('woff2'),
         url('pirateletters-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}