/* General */

body {
  background: url("../images/site-bg.jpg") top;
  font-family: 'Pirata One', cursive;
  letter-spacing: 1px;
}

footer {
  background: rgb(0,0,0);
  background: rgba(0,0,0, 0.7);
  color: rgb(255,250,240);
}

/* Game Title */

.game-title {
  color: rgb(178,1,14);
  font-family: 'pirateletters';
  font-size: 300%;
  font-weight: 900;
  text-shadow: rgb(0,0,0) 3px 3px 6px;
}

/* Game Enviroment */

.game-container {
  background-image: url("../images/game-container-bg.jpg");
  background-position: center;
  background-size: 316px 500px;
  border-radius: 3px;
  box-shadow: 0 0 10px 2px;
  height: 500px;
  max-width: 316px;
  padding-top: 2px;
}

.game-screen {
  background: no-repeat;
  background-size: 312px 363px;
  border-radius: 3px;
  min-height: 363px;
  width: 312px;
}

.game-commands {
  margin-top: 2px;
  min-height: 132px;
}

/* Game Screen */

.infoText {
  color: rgb(51, 51, 51);
  left: 0;
  position: absolute;
  top: 0;
}

.infoText p {
  background: rgb(248, 248, 165);
  background: rgba(248, 248, 165, 0.7);
  border-radius: 3px;
  box-shadow: 0 0 10px 2px;
}

.bubbleText {
  color: rgb(51, 51, 51);
  font-size: 110%;
  left: 0;
  position: absolute;
  top: 0;
}

.battleText {
  color: rgb(51, 51, 51);
  position: absolute;
  top: 160px;
}

.battleText p {
  background: rgb(248, 248, 165);
  background: rgba(248, 248, 165, 0.7);
  border-radius: 3px;
  box-shadow: 0 0 10px 2px;
}

.bar-hp {
  background: rgb(248, 248, 165);
  background: rgba(248, 248, 165, 0.7);
  background-image: url("../images/hp-bg.png");
  background-position: left;
  background-size: contain;
  border-radius: 3px;
  box-shadow: 0 0 10px 2px;
  height: 35px;
  width: 151px;
}

.opponent-hp {
  display: none;
  left: 3px;
  position: absolute;
  top: 5px;
}

.player-hp {
  bottom: 138px;
  display: none;
  position: absolute;
  right: 3px;
}

/* Game Commands */

.option-btn {
  background-color: rgb(32,3,2);
  background-color: rgba(32,3,2,0.5);
  border: none;
  border-radius: 3px;
  color: rgb(255,250,240);
  float: left;
  font-size: 140%;
  height: 66px;
  width: 158px;
}

.option-btn:hover {
  background-color: rgb(32,3,2);
  background-color: rgba(32,3,2,0.7);
}

.option-btn:focus {
  outline: none;
}

/* Features Section */

.acordeon-section {
  width: 80%;
}

.acordeon-part {
  background-image: url("../images/game-features-bg.jpg");
  background-size: cover;
  border: none;
  box-shadow: 0 0 10px 2px;
}

.acordeon-title {
  color: rgb(255,250,240);
  font-family: 'pirateletters';
  font-size: 80%;
}

.acordeon-title:hover {
  color: rgb(178,1,14);
}

.acordeon-title:focus {
  color: rgb(255,250,240);
}

.acordion-info {
  color: rgb(255,250,240);
  width: 80%;
}

.feat-option a {
  cursor: pointer;
}

.feat-option a:hover {
  color: rgb(178,1,14);
}

.underlined {
  text-decoration: underline;
}

/* Media Queries */

@media screen and (min-width: 992px) {
  .game-title {
    font-size: 450%;
  }
}