/* General */

body {
  background-image: url(/assets/images/fondo.jpg);
}

section {
  
}

footer {
  background: black;
  color: white;
}

/* Game Title */


/* Buttons */

.option-btn {
  width: 158px;
  height: 66px;
  float: left;
}

.commands {
  position: relative;
  top: -134px;
}

/* Side Section */

.acordeon-stuff {
  position: relative;
  top: -100px;
}
